:root{
    --navBlue: #305296;
    --backGrWhite: #CBDCEB;
    --border: #163657;
    --hover: #033a70;
    --menuText:#CBDCEB;
    --htext: #033a70;
    --ptext: #3A6D8C;
    --boldText: #02264b;
}

.darkmode{
    --navBlue: #4f5052;
    --backGrWhite: #1c1d1f;
    --border: #23295f;
    --hover: #405985;
    --menuText:#CBDCEB;
    --htext: #405985;
    --ptext: #A6AEBF;
    --boldText: #CBDCEB;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.abonement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: calc(80px + 1vh);
    width:80%;
}

h1{
    color: var(--htext);
    text-align: center;
    line-height: 1;
    font-size: calc(24px + 1vw);
    font-weight: 700;
}

h2,th{
    font-size: calc(12px + 1vw);
    line-height: 1;
    color: var(--htext);
    margin-top: 1vh;
}

table th{
    color: var(--boldText);
    font-weight: 600;
}

p,td{
    color: var(--ptext);
    line-height: 1.4;
    font-size: calc(14px + 0.3vw);
    font-weight: 500;
}

table{
    width: 100%;
    border-collapse:collapse;
}

th,td{
    padding: 3px;
    text-align: left;
    vertical-align: middle;
    border: 1.5px solid var(--border);
}

td{
    padding-left: 1vw;
}

th{
    width: 50%;
    vertical-align: middle; 
    background-color: var(--backGrWhite);
    color: var(--htext);
    font-weight: bold;
    text-align: center;
}

th, tr{
    font-size: calc(12px + 0.3vw);
    line-height: 1.2;
    font-weight: 500;
}

tr{
    color: var(--ptext);
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    width: 60%;
    max-width: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5vh;
}

.image img{
    width: 100%;
    border: 1.5px solid var(--border);
    border-radius: 6%;
}

.text{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.center{
    text-align: center;
    line-height: 1.4;
}

section:not(:first-of-type){
    margin-top: 12vh;
}



@media (max-width: 750px) {
    .abonement{
        width: 80%;
    }

   .image{
    width: 90%;
   }

   td{
    font-size: calc(12px + 0.1vw);
   }

   .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .text{
    margin-top: 2vh;
    width: 90%;
   }
}
